* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
}
nav {
	padding: 0.8rem;
	position: sticky;
	top: 0;
	background: white ;
}
#logo{
	margin-right: 25%;
	margin-left: 10%;
	height: 2rem;
}
nav .right-nav, nav .nav, nav .nav-logo {
	margin: 0.5rem;
	list-style-type: none;
	display: inline;
}
.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-size: 1rem;
	padding: 0.7rem;
	border-radius: 25px;
	border: 0;
	width: 9rem;
}
#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center left;
	min-height: 20rem;
	
}
.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
}

.title{
	text-align: right;
	font-size: 2.3rem;
	color: white;
	margin-right: 5%;
	margin-left: 60%;
	margin-bottom: 7px;
}
.subtitle {
	text-align: right;
	color: white;
	font-weight: 1;
	font-size: 20px;
	padding-top: 10px;
	margin-right: 5%;
	margin-left: 70%;
	margin-bottom: 1rem;
	line-height: 30px;
}
.apply-button {
	background-color: #c2195b;
	color: white;
	font-size: 1rem;
	padding: 0.7rem;
	border-radius: 25px;
	border: 0;
	width: 11rem;
	text-align: center;
	margin-left: 82%;

}

.title-2 {
	text-align: center;
	padding-top: 60px;
	margin-bottom: 50px;
	font-size: 30px;
}
.intro-description {
	margin-left: 15%;
	margin-right: 15%;
	text-align: justify;
}

.title-2 {
	margin-top: 50px;
}
section .title, section .title-2 {
	font-family: 'Zilla Slab', serif;
}

.pre-footer {
	background-color: #f7fbfb;
	margin-top: 80px;
	margin-bottom: 10px;
}
section .prefooter-description {
	margin-left: 15%;
	margin-right: 15%;
	text-align: center;
}
.book-button {
	background-color: #336589;
	color: white;
	font-size: 1rem;
	padding: 0.7rem;
	border-radius: 25px;
	border: 0;
	width: 9rem;
	margin-left: 45%;
	margin-right: 45%;
	margin-top: 10px;
	margin-bottom: 25px;
	
}

footer {
	text-align: center;
}
